@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/* navbar style section start */

.navbar {
  margin: 70px auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.nav_one p {
  color: #8671fc;
  font-weight: 700;
  font-size: 18px;
}

.nav_two {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.nav_two a:hover {
  color: #8671fc;
  border-bottom: 1px solid #8671fc;
}

/* navbar style section end */

.hero {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_one {
  max-width: 475px;
}

.hero_one h1 {
  padding: 20px 0;
  font-size: 72px;
}
.hero_one p {
  padding-bottom: 50px;
  color: #838383;
}

.hireMe {
  color: white;
  background-color: #8671fc;
  padding: 20px 40px;
  border: none;
  font-weight: 700;
  border-radius: 40px;
  margin-right: 40px;
}

.downloadResume {
  background-color: transparent;
  border: none;
  font-weight: 700;
  color: #8671fc;
  cursor: pointer;
}

.hero_two img {
  height: 639px;
  width: 639px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 40px;
}
/* hero section end */

#about {
  background: #f05d7b;
  color: white;
  max-height: 722px;
}

.about-container {
  max-width: 1170px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  padding: 150px 185px;
}

.about_one {
  letter-spacing: 0.3px;
  width: 560px;
}

.about_one h4 {
  letter-spacing: 2px;
  font-size: 18px;
  margin-bottom: 20px;
}
.about_one h3 {
  font-size: 36px;
  margin-bottom: 30px;
}

.about_one p {
  opacity: 0.8;
  margin-bottom: 70px;
}

.about_one > .downloadResume {
  color: white;
}

.about_two {
  letter-spacing: 0.3px;
  width: 421px;
}

.about_two h3 {
  font-size: 36px;
  margin-bottom: 30px;
}

.description {
  opacity: 0.8;
  margin-bottom: 30px;
}

.email {
  color: white;
  font-weight: 700;
}

/* about section end */

/* skills section start */

#skills {
  max-width: 1170px;
  margin: 0 auto;
}
.subHeading {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subTitle {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  margin-bottom: 70px;
}

.skills_item_wrapper {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 150px;
}


.skills_item {
  width: 265px;
  border: 1px solid rgba(71, 71, 71, 0.1);
  padding: 50px 50px 36px 50px;
  position: relative;
  overflow: hidden;
  z-index: 999;
}

.skills_item:hover {
  background: #f05d7b;
  transition: all linear 0.2s;
}

.skills_item h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
  z-index: 999;
}

.skills_item p {
  color: #838383;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  margin-bottom: 40px;
  z-index: 999;
}

.skills_item a {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #8671fc;
  text-decoration: none;
  display: flex;
  column-gap: 24px;
  z-index: 999;
}

.skills_item:hover h3,
.skills_item:hover a,
.skills_item:hover p {
  color: #fff;
}

.skills_item h3, .skills_item p, .skills_item a{
  position: relative;
  z-index: 999;
}
.skills_shape{
  width: 325px;
  height: 325px;
  border-radius: 50%;
  background: linear-gradient(223deg, #F46C88 9.78%, rgba(251, 165, 189, 0.20) 136.5%);
  position: absolute;
  top: -50px;
  left: -80px;
  opacity: 0;
  transition: all linear 0.2s;
}

.skills_item:hover .skills_shape{
  opacity: 1;
}

/* skills section end */
